button {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 90px;
    height: 26px;
    font-size: 15px;
    color: var(--white);
    cursor: pointer;
    box-sizing: initial;
  }
  
  button:active {
    background-color: var(--secondary-color);
  }
  
  .primary-btn {
    background-color: var(--primary-color);
  }
  
  button:disabled {
    background-color: var(--gray-shade);
    cursor: not-allowed;
  }
  
  .secondary-btn {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    height: 21px;
    color: var(--primary-color);
  }
  
  .secondary-btn:active {
    background-color: var(--primary-color);
    color: var(--white);
  }