.checkbox-list {
  max-height: 200px;
  overflow-y: auto;
  min-width: 300px;
  margin: 10px 0px;
}

.checkbox-container {
  color: var(--secondary-color);
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 12px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-checkmark {
  border: 2px solid transparent;
  position: absolute;
  top: 50%;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--gray-shade);
  transform: translateY(-50%);
  border-radius: 5px;
}

.checkbox-container:hover input~.checkbox-checkmark {
  background-color: var(--dark-gray-shade);
}

.checkbox-container input:checked~.checkbox-checkmark {
  background-color: var(--primary-color);
}

.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked~.checkbox-checkmark:after {
  display: block;
}

.checkbox-container .checkbox-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 700px) {
  .checkbox-list {
    max-width: 300px;
    width: 100%;
    min-width: 0;
  }
}