@import 'main.css';

.quote-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 30px;
}

span.quoted {
    color: var(--white);
    display: block;
    margin: 14px 0 0 0;
    font-style: italic;
    transition: 1s;
    transition-delay: -0.4s;
}

span.quoted:before {
    font-family: Georgia;
    content: "“";
    font-size: 50px;
    line-height: 0;
    display: inline-block;
    margin: 0 6px 0 0;
}
span.quoted:after {
    font-family: Georgia;
    content: " ”";
    font-size: 50px;
    line-height: 0;
    display: inline-block;
    margin: 0 0 0 4px;
}

@media only screen and (max-width: 600px) {
    .quote-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--white);
        font-size: 20px;
    }
    span.quoted:before,
    span.quoted:after {
        font-size: 30px;
    }
  }