@import 'main.css';
.error {
    font-size: 150px;
    text-align: center;
    color: var(--white);
}

.lost {
    font-size: 70px;
    text-align: center;
    color: var(--white);
    animation-name: breath;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.redirect {
    text-align: center;
    font-size: 50px;
    color: var(--white);
}

.redirect-text:hover {
    cursor: pointer;
    font-style: italic;
}

.container404 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes breath {
    from {
        letter-spacing: 1px;
    }
    to {
        letter-spacing: 5px;
    }
}

@media only screen and (max-width: 500px) {
    .error {
        font-size: 100px;
    }
    .lost {
        font-size: 40px;
    }
    .redirect {
        font-size: 30px;
    }
}