button,
.secondary-btn {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 90px;
    height: 26px;
    font-size: 15px;
    color: var(--white);
    cursor: pointer;
    box-sizing: initial;
    text-align: center;
  }

  .secondary-btn {
    display: inline-block;
  }
  
  button:active,
  .secondary-btn:active {
    background-color: var(--secondary-color);
  }
  
  .primary-btn {
    background-color: var(--primary-color);
  }
  
  button:disabled {
    background-color: var(--gray-shade);
    cursor: not-allowed;
  }
  
  .secondary-btn,
  .third-btn {
    background-color: var(--white);
    border: 2px solid var(--primary-color);
    height: 21px;
    color: var(--primary-color);
  }
  
  .secondary-btn:active {
    background-color: var(--primary-color);
    color: var(--white);
  }

  .third-btn:active {
    background-color: var(--gray-shade);
  }