:root {
    --primary-color: #008cd1;
    --secondary-color: #006699;
    --red: #CC3333;
    --green: #33CC33;
    --dark-green: #33AA33;
    --dark-red: #AA3333;
    --gray-shade: #ccc;
    --dark-gray-shade: #bbb;
    --white: white;
  }